<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>TicTacToe Stable connection</title>
		<link rel="stylesheet" type="text/css" href="/public/styles/style.css">
		<script src="/public/script/script.js">
		</script>
	</head>
	<body>
		<div id="board"></div>
    </body>
</html>